* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.nav,
.footer {
    text-align: center;
    border: 1px solid;
}

.nav {
    background-color: goldenrod;
}

.footer {
    background-color: rgb(18, 221, 96);
    width: 100%;
    height: 50px;
    /* Footer yüksekliğini ayarlamak için */
    bottom: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-grow: 1;
    /* İçerik bölümünün boş alanı doldurmasını sağlar */
}

.container {
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid;
    padding: 10px;
}

.body {
    background-color: pink;
    flex: 80%;
    display: flex;
    /* Bu, .body div'inin yüksekliğini içerdiği elementlere göre ayarlar */
    min-height: 80vh;
}

.col-3 {
    flex: 25%;
}

.col-9 {
    flex: 75%;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Bu özellik, içeriklerin dikey hizalanmasını sağlar */
    background-color: dodgerblue;
    flex: 20%;
    text-align: center;
}

input {
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
}

button {
    padding: 20px;
    flex-basis: calc(50% - 10px);
    /* Her bir butonun genişliği (butonlar arasındaki boşlukları da hesaba katar) */
    box-sizing: border-box;
    /* padding ve border genişliği dahil olmak üzere toplam genişliği ayarlar */
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Butonlar arasında boşluk bırakır */
}

.left-button {
    margin-right: 20px;
}

ul li {
    list-style: none;
    padding: 15px;
    font-size: 25px;
    border: 1px solid;
}

.title {
    border: 1px solid;
    background-color: blue;
    color: aliceblue;
    margin-bottom: 10px;
}

ul li:hover,
button:hover {
    background-color: grey;
    /* istediğiniz renk */
}

@media screen and (max-width: 1075px) {
    .col-3 {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .sidebar,
    .col-3 {
        display: none;
    }

    .container {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 0%;
        border: 1px solid;
        padding: 10px;
    }

    h1.title, input, button {
        width: 100%;
    }
}